/* You can add global styles to this file, and also import other style files */
.page-title{
  font-size: 30px;
  font-weight: 700;
}

.header-text{
  font-weight: 700;
}

.modal-content {
  max-width: 700px !important;
}
